@font-face {
  font-family: 'Aller Std';
  src: url('./assets/Aller_Std_Rg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary: #ff66aa;
  --bg: #18171c;
  --text: #ffffff;
  --card-bg: #302e38;
  --hover: #ff99cc;
  --section-bg: #24222a;
}
body {
  margin: 0;
  font-family: 'Aller Std', sans-serif;
  background-color: var(--bg);
  color: var(--text);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: linear-gradient(#312a67, var(--section-bg));
  position: sticky;
  top: 0;
  z-index: 100;
}
.socials {
  display: flex;
  gap: 1rem;
  height: 2em;
}
.socials img {
  height: 100%;
}

nav a {
  margin-left: 1.5rem;
  color: var(--text);
  text-decoration: none;
  transition: color 0.2s ease;
}

nav a:hover {
  color: var(--hover);
}
a,i{
  color: var(--primary);
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  font-size: 0.9rem;
  background-color: #111;
}

img.photo{
  transition: box-shadow 1s;
}
img.photo:hover {
  box-shadow: 0 0 15px var(--hover);
}

.logo {
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--primary);
}

.hero {
  text-align: center;
  padding: 4rem 2rem;
}

.hero h1 {
  font-size: 2.5rem;
  color: var(--primary);
}
.hero p {
  font-size: 1.2rem;
}

.btn-cv {
  width: 10%;
  background-color: var(--card-bg);
  border-radius: 6px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 20px;
  transition: all .12s ease-in-out;
  margin-top: 1.25rem;
  display: inline-block;
}
.btn-cv:hover {
  transition: all .12s ease-in-out;
  --move: 4px;
  --bg-move: 10px;
}

.section {
  padding: 3rem 2rem;
  max-width: 900px;
  margin: auto;
  background-color: var(--section-bg);
}

/* **************** */
/* PROJECTS SECTION */
/* **************** */
.project-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.project-card {
  background-color: var(--card-bg);
  padding: 1.5rem;
  border-radius: 12px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px var(--hover);
}

.project-card h3 {
  color: var(--hover);
}
.project-card img{
  width: 80%;
  display: block;
  margin: 0 auto 10px;
  border-radius: 6px;
}

/* ******************** */
/* FIN PROJECTS SECTION */
/* ******************** */

/* ******************* */
/* EXPERIENCES SECTION */
/* ******************* */
.experience-card {
  background-color: var(--card-bg);
  padding: 1.5rem;
  border-radius: 12px;
  margin-bottom: 16px;
  transition: transform 0.2s, box-shadow 0.2s;
}
.experience-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px var(--hover);
}
/* *********************** */
/* FIN EXPERIENCES SECTION */
/* *********************** */


.about-container{
  display: flex; gap: 16px; margin-bottom: 32px;
}
.title-container{
  display: flex;
  gap: 12px;
  align-items: center;
}
.title-container img {
  height: 2em;
  width: auto;
  vertical-align: middle;
}

